body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
  text-align: center;
}
figure {
  text-align: center;
}
nav a {
  background-color: gray;
  padding-left: 10px;
  padding-right: 10px;
}
nav {
  text-align: center;
}
